*.DS_Store
tracking_result.avi

# Executables
*.exe
*.gpp
*.dsp

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.gpp
*.dsp

# Debug files
*.dSYM/
*.su
